<%= render 'shared/header' %>

<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <%= form_for(@profile, builder: TailwindInputBuilder) do |f| %>
        <div class="flex justify-end items-center w-full mb-4">
            <div>
                <%= f.submit "Save", class: "flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-green-600 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200" %><br/>
            </div>
        </div>

        <%= render 'shared/edit_section', title: "Profile details" do %>
            <%= f.text_field :name, value: @profile.name || current_user.name, placeholder: "Name" %><br/>
            
            <div class="flex  flex-row items-center">
            <%= f.file_field :avatar , id:"avatar", style:"display: none" , class:"m-6" ,onchange:"loadFile(event)" %>
            <label for="avatar" style="cursor: pointer;" class=" py-2 px-4 flex justify-start items-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg mr-4">
            <img class="mr-2" src="/assets/upload.svg">
                Upload Image
            </label>


            <div class="flex items-center my-4">
            <% if @profile.avatar.url %>
                <%= image_tag user_profile_avatar(@profile), 
                    id: "image-preview", style:"max-width:200px"
                %>
            <% else %>
                <img id="image-preview" style={max-width:200px} src="https://secure.gravatar.com/avatar/1234" />
            <% end %>
            </div>
            </div>

           
            <%= f.text_field :job_title, value: @profile.job_title, placeholder: "Job title" %><br/>
            <%= f.text_field :total_experience, value: @profile.total_experience, placeholder: "Total experience" %><br/>
            <%= f.text_area :overview, value: @profile.overview, placeholder: "Profile overview", required: true %><br/>
            <p>Career Highlights</p>
            <%= f.text_field :career_highlights, value: concat_str_with_comma(@profile.career_highlights), placeholder: "Career highlights" %>
            <%= render 'shared/multiple_inputs_message' %>
            
            <p>Primary Skills</p>
            <%= f.text_field :primary_skills, value: concat_str_with_comma(@profile.primary_skills), placeholder: "Primary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
            
            <p>Secondary Skills</p>
            <%= f.text_field :secondary_skills, value: concat_str_with_comma(@profile.secondary_skills), placeholder: "Secondary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
            
        <% end %>

        <%= render 'shared/edit_section', title: "Education" do %>
            <%= f.fields_for :educations do |education| %>
                <%= render 'shared/input/education', education: education %>
            <% end %><br />
            <%= render 'shared/input/buttons/add', label: "+ Add Education", path: "/educations/new" %>
        <% end %>


       
        

        <%= render 'shared/edit_section', title: "Experiences" do %>
            <%= f.fields_for :experiences do |experience| %>
                <%= render 'shared/input/experience', experience: experience, f:f %>
            <% end %><br />

           
            






            <%= render 'shared/input/buttons/add', label: "+ Add Experience", path: "/experiences/new" %>
            
        <% end %>
        
       
        
    <% end %>

</main>

<script>
var loadFile = function(event) {
    var image = document.getElementById('image-preview');
    image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
